<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Animations.plist
   BPartS

   Created by Theodore Abshire on 8/3/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<!-- NOTE:
		the "pow" of a frame happens upon the animation STARTING
		that's not bad for guns (it means that the bullet fires out THEN it recoils)
		but it's a problem for guns
	-->
	
	<!-- specials -->
	
	<key>grapple</key>
	<dict>
		<key>required limbs</key>
		<array>
			<string>upper left arm</string>
			<string>lower left arm</string>
			<string>upper right arm</string>
			<string>lower right arm</string>
		</array>
		<key>frames</key>
		<array>
			<dict>
				<key>my frame</key> <string>grapple</string>
				<key>enter time</key> <real>0.15</real>
				<key>hold time</key> <real>0.3</real>
			</dict>
			<dict>
				<key>my frame</key> <string>grapple grab</string>
				<key>enter time</key> <real>0.1</real>
				<key>hold time</key> <real>0.125</real>
			</dict>
			<dict>
				<key>my frame</key> <string>grapple grab</string>
				<key>their frame</key> <string>flinch</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.15</real>
				<key>pow</key> <true/>
			</dict>
			<dict>
				<key>my frame</key> <string>grapple grab</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.15</real>
			</dict>
		</array>
	</dict>
	
	<!-- "drive" specials require both arms to use -->
	<key>one drive</key>
	<dict>
		<key>required limbs</key>
		<array>
			<string>left arm</string>
			<string>right arm</string>
		</array>
		<key>frames</key>
		<array>
			<dict>
				<key>my frame</key> <string>drive</string>
				<key>enter time</key> <real>0.15</real>
				<key>hold time</key> <real>0.3</real>
			</dict>
			<dict>
				<key>my frame</key> <string>drive press</string>
				<key>enter time</key> <real>0.15</real>
				<key>hold time</key> <real>0.05</real>
			</dict>
			<dict>
				<key>my frame</key> <string>drive press</string>
				<key>their frame</key> <string>flinch</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.125</real>
				<key>pow</key> <true/>
			</dict>
			<dict>
				<key>my frame</key> <string>drive</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.1</real>
			</dict>
		</array>
	</dict>
	<key>three drive</key>
	<dict>
		<key>required limbs</key>
		<array>
			<string>left arm</string>
			<string>right arm</string>
		</array>
		<key>frames</key>
		<array>
			<dict>
				<key>my frame</key> <string>drive</string>
				<key>enter time</key> <real>0.15</real>
				<key>hold time</key> <real>0.3</real>
			</dict>
			<dict>
				<key>my frame</key> <string>drive press</string>
				<key>enter time</key> <real>0.15</real>
				<key>hold time</key> <real>0.05</real>
			</dict>
			<dict>
				<key>my frame</key> <string>drive press</string>
				<key>their frame</key> <string>flinch</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.125</real>
				<key>pow</key> <true/>
			</dict>
			<dict>
				<key>my frame</key> <string>drive</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.1</real>
			</dict>
			<dict>
				<key>my frame</key> <string>drive press</string>
				<key>enter time</key> <real>0.15</real>
				<key>hold time</key> <real>0.05</real>
			</dict>
			<dict>
				<key>my frame</key> <string>drive press</string>
				<key>their frame</key> <string>flinch</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.125</real>
				<key>pow</key> <true/>
			</dict>
			<dict>
				<key>my frame</key> <string>drive</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.1</real>
			</dict>
			<dict>
				<key>my frame</key> <string>drive press</string>
				<key>enter time</key> <real>0.15</real>
				<key>hold time</key> <real>0.05</real>
			</dict>
			<dict>
				<key>my frame</key> <string>drive press</string>
				<key>their frame</key> <string>flinch</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.125</real>
				<key>pow</key> <true/>
			</dict>
			<dict>
				<key>my frame</key> <string>drive</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.1</real>
			</dict>
		</array>
	</dict>
	
	
	
	<!-- weapon attacks -->
	
    <key>manual gun shoot</key>
	<dict>
		<key>frames</key>
		<array>
			<dict>
				<key>my frame</key> <string>* gun</string>
				<key>enter time</key> <real>0.15</real>
				<key>hold time</key> <real>0.3</real>
			</dict>
			<dict>
				<key>my frame</key> <string>* gun shoot</string>
				<key>their frame</key> <string>flinch</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.125</real>
				<key>pow</key> <true/>
			</dict>
			<dict>
				<key>my frame</key> <string>* gun</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.1</real>
			</dict>
		</array>
	</dict>
	
	<!-- these punch animations have two "throw" frames per punch so that the pow happens once the throw is complete -->
    <key>one punch</key>
	<dict>
		<key>frames</key>
		<array>
			<dict>
				<key>my frame</key> <string>* punch</string>
				<key>enter time</key> <real>0.15</real>
				<key>hold time</key> <real>0.15</real>
			</dict>
			<dict>
				<key>my frame</key> <string>* punch throw</string>
				<key>enter time</key> <real>0.075</real>
				<key>hold time</key> <real>0</real>
			</dict>
			<dict>
				<key>my frame</key> <string>* punch throw</string>
				<key>their frame</key> <string>flinch</string>
				<key>enter time</key> <real>0.075</real>
				<key>hold time</key> <real>0.175</real>
				<key>pow</key> <true/>
			</dict>
			<dict>
				<key>my frame</key> <string>* punch</string>
				<key>enter time</key> <real>0.15</real>
				<key>hold time</key> <real>0.1</real>
			</dict>
		</array>
	</dict>
    <key>two punch</key>
	<dict>
		<key>frames</key>
		<array>
			<dict>
				<key>my frame</key> <string>* punch</string>
				<key>enter time</key> <real>0.15</real>
				<key>hold time</key> <real>0.15</real>
			</dict>
			<dict>
				<key>my frame</key> <string>* punch throw</string>
				<key>enter time</key> <real>0.075</real>
				<key>hold time</key> <real>0</real>
			</dict>
			<dict>
				<key>my frame</key> <string>* punch throw</string>
				<key>their frame</key> <string>flinch</string>
				<key>enter time</key> <real>0.075</real>
				<key>hold time</key> <real>0.125</real>
				<key>pow</key> <true/>
			</dict>
			<dict>
				<key>my frame</key> <string>* punch</string>
				<key>enter time</key> <real>0.15</real>
				<key>hold time</key> <real>0.05</real>
			</dict>
			<dict>
				<key>my frame</key> <string>* punch throw</string>
				<key>enter time</key> <real>0.075</real>
				<key>hold time</key> <real>0</real>
			</dict>
			<dict>
				<key>my frame</key> <string>* punch throw</string>
				<key>their frame</key> <string>flinch</string>
				<key>enter time</key> <real>0.075</real>
				<key>hold time</key> <real>0.125</real>
				<key>pow</key> <true/>
			</dict>
			<dict>
				<key>my frame</key> <string>* punch</string>
				<key>enter time</key> <real>0.15</real>
				<key>hold time</key> <real>0.1</real>
			</dict>
		</array>
	</dict>
	
	<!-- one punch hold is special, you punch and then they get hit twice; it's for the sawblade glove -->
    <key>one punch hold</key>
	<dict>
		<key>frames</key>
		<array>
			<dict>
				<key>my frame</key> <string>* punch</string>
				<key>enter time</key> <real>0.15</real>
				<key>hold time</key> <real>0.15</real>
			</dict>
			<dict>
				<key>my frame</key> <string>* punch throw</string>
				<key>enter time</key> <real>0.075</real>
				<key>hold time</key> <real>0</real>
			</dict>
			<dict>
				<key>my frame</key> <string>* punch throw</string>
				<key>their frame</key> <string>flinch</string>
				<key>enter time</key> <real>0.075</real>
				<key>hold time</key> <real>0.125</real>
				<key>pow</key> <true/>
			</dict>
			<dict>
				<key>my frame</key> <string>* punch throw</string>
				<key>their frame</key> <string>flinch</string>
				<key>enter time</key> <real>0</real>
				<key>hold time</key> <real>0.075</real>
			</dict>
			<dict>
				<key>my frame</key> <string>* punch throw</string>
				<key>their frame</key> <string>flinch</string>
				<key>enter time</key> <real>0.075</real>
				<key>hold time</key> <real>0.125</real>
				<key>pow</key> <true/>
			</dict>
			<dict>
				<key>my frame</key> <string>* punch</string>
				<key>enter time</key> <real>0.15</real>
				<key>hold time</key> <real>0.1</real>
			</dict>
		</array>
	</dict>
	
	<!-- these auto gun shoot animations are meant for short bursts from automatic guns
		there's no pause in-between the shots, and it only does the shot frame in the last one (to represent the recoil) -->
    <key>auto gun three shoot</key>
	<dict>
		<key>frames</key>
		<array>
			<dict>
				<key>my frame</key> <string>* gun</string>
				<key>enter time</key> <real>0.15</real>
				<key>hold time</key> <real>0.175</real>
			</dict>
			<dict>
				<key>my frame</key> <string>* gun</string>
				<key>their frame</key> <string>flinch</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.09</real>
				<key>pow</key> <true/>
			</dict>
			<dict>
				<key>my frame</key> <string>* gun</string>
				<key>their frame</key> <string>flinch</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.09</real>
				<key>pow</key> <true/>
			</dict>
			<dict>
				<key>my frame</key> <string>* gun shoot</string>
				<key>their frame</key> <string>flinch</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.09</real>
				<key>pow</key> <true/>
			</dict>
			<dict>
				<key>my frame</key> <string>* gun</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.1</real>
			</dict>
		</array>
	</dict>
    <key>auto gun four shoot</key>
	<dict>
		<key>frames</key>
		<array>
			<dict>
				<key>my frame</key> <string>* gun</string>
				<key>enter time</key> <real>0.15</real>
				<key>hold time</key> <real>0.175</real>
			</dict>
			<dict>
				<key>my frame</key> <string>* gun</string>
				<key>their frame</key> <string>flinch</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.085</real>
				<key>pow</key> <true/>
			</dict>
			<dict>
				<key>my frame</key> <string>* gun</string>
				<key>their frame</key> <string>flinch</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.085</real>
				<key>pow</key> <true/>
			</dict>
			<dict>
				<key>my frame</key> <string>* gun</string>
				<key>their frame</key> <string>flinch</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.085</real>
				<key>pow</key> <true/>
			</dict>
			<dict>
				<key>my frame</key> <string>* gun shoot</string>
				<key>their frame</key> <string>flinch</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.085</real>
				<key>pow</key> <true/>
			</dict>
			<dict>
				<key>my frame</key> <string>* gun</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.1</real>
			</dict>
		</array>
	</dict>
    <key>auto gun six shoot</key>
	<dict>
		<key>frames</key>
		<array>
			<dict>
				<key>my frame</key> <string>* gun</string>
				<key>enter time</key> <real>0.15</real>
				<key>hold time</key> <real>0.175</real>
			</dict>
			<dict>
				<key>my frame</key> <string>* gun</string>
				<key>their frame</key> <string>flinch</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.085</real>
				<key>pow</key> <true/>
			</dict>
			<dict>
				<key>my frame</key> <string>* gun</string>
				<key>their frame</key> <string>flinch</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.085</real>
				<key>pow</key> <true/>
			</dict>
			<dict>
				<key>my frame</key> <string>* gun</string>
				<key>their frame</key> <string>flinch</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.085</real>
				<key>pow</key> <true/>
			</dict>
			<dict>
				<key>my frame</key> <string>* gun</string>
				<key>their frame</key> <string>flinch</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.085</real>
				<key>pow</key> <true/>
			</dict>
			<dict>
				<key>my frame</key> <string>* gun shoot</string>
				<key>their frame</key> <string>flinch</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.085</real>
				<key>pow</key> <true/>
			</dict>
			<dict>
				<key>my frame</key> <string>* gun shoot</string>
				<key>their frame</key> <string>flinch</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.085</real>
				<key>pow</key> <true/>
			</dict>
			<dict>
				<key>my frame</key> <string>* gun</string>
				<key>enter time</key> <real>0.05</real>
				<key>hold time</key> <real>0.1</real>
			</dict>
		</array>
	</dict>
</dict>
</plist>