<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Armors.plist
   BPartS

   Created by Theodore Abshire on 8/3/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<!-- NOTE:
		current guidelines
		torso armor
			heavy		+2 strain, +7 health, -10 defend
			light		+1 strain, -5 defend
		non-torso armor
			heavy		+4 strain, +10 health, -20 defend
			light		+2 strain, -10 defend
		dunno if this is fair; it'll require more testing
	-->
	
	<key>shorts</key>
	<dict>
		<!-- identity -->
		<key>slot</key> <string>torso</string>
		<!-- stats -->
		<key>bonus strain</key> <integer>0</integer>
		<key>bonus health</key> <integer>0</integer>
		<key>bonus defend</key> <integer>0</integer>
		<!-- graphical data -->
		<key>appearance by morph</key>
		<dict>
			<key>human male</key>
			<dict>
				<key>torso armor</key>
				<dict>
					<key>sprite name</key> <string>shorts_torso_m</string>
					<key>color name</key> <string>clothing</string>
				</dict>
			</dict>
			<key>grappler</key>
			<dict>
				<key>torso armor</key>
				<dict>
					<key>sprite name</key> <string>shorts_torso_m</string>
					<key>color name</key> <string>clothing</string>
				</dict>
			</dict>
			<key>human female</key>
			<dict>
				<key>torso armor</key>
				<dict>
					<key>sprite name</key> <string>shorts_torso_f</string>
					<key>color name</key> <string>clothing</string>
				</dict>
				<key>chest armor</key>
				<dict>
					<key>sprite name</key> <string>shorts_chest_f</string>
					<key>color name</key> <string>clothing</string>
				</dict>
			</dict>
		</dict>
	</dict>
	
	<key>uniform</key>
	<dict>
		<!-- identity -->
		<key>slot</key> <string>torso</string>
		<!-- stats -->
		<key>bonus strain</key> <integer>0</integer>
		<key>bonus health</key> <integer>0</integer>
		<key>bonus defend</key> <integer>0</integer>
		<!-- graphical data -->
		<key>appearance by morph</key>
		<dict>
			<key>human male</key>
			<dict>
				<key>torso armor</key>
				<dict>
					<key>sprite name</key> <string>leotard_torso_m</string>
					<key>color name</key> <string>clothing</string>
				</dict>
			</dict>
			<key>grappler</key>
			<dict>
				<key>torso armor</key>
				<dict>
					<key>sprite name</key> <string>leotard_torso_m</string>
					<key>color name</key> <string>clothing</string>
				</dict>
			</dict>
			<key>human female</key>
			<dict>
				<key>torso armor</key>
				<dict>
					<key>sprite name</key> <string>leotard_torso_f</string>
					<key>color name</key> <string>clothing</string>
				</dict>
				<key>chest armor</key>
				<dict>
					<key>sprite name</key> <string>leotard_chest_f</string>
					<key>color name</key> <string>clothing</string>
				</dict>
			</dict>
		</dict>
	</dict>
	
	<key>light armor</key>
	<dict>
		<!-- identity -->
		<key>slot</key> <string>torso</string>
		<!-- stats -->
		<key>bonus strain</key> <integer>2</integer>
		<key>bonus health</key> <integer>0</integer>
		<key>bonus defend</key> <integer>-10</integer>
		<!-- graphical data -->
		<key>appearance by morph</key>
		<dict>
			<key>human male</key>
			<dict>
				<key>torso armor</key>
				<dict>
					<key>sprite name</key> <string>lightarmor_torso_m</string>
					<key>color name</key> <string>armor</string>
				</dict>
			</dict>
			<key>grappler</key>
			<dict>
				<key>torso armor</key>
				<dict>
					<key>sprite name</key> <string>lightarmor_torso_m</string>
					<key>color name</key> <string>armor</string>
				</dict>
			</dict>
			<key>human female</key>
			<dict>
				<key>torso armor</key>
				<dict>
					<key>sprite name</key> <string>lightarmor_torso_f</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>chest armor</key>
				<dict>
					<key>sprite name</key> <string>human_chest_f</string>
					<key>color name</key> <string>armor</string>
				</dict>
			</dict>
		</dict>
	</dict>
	
	<key>heavy armor</key>
	<dict>
		<!-- identity -->
		<key>slot</key> <string>torso</string>
		<!-- stats -->
		<key>bonus strain</key> <integer>4</integer>
		<key>bonus health</key> <integer>10</integer>
		<key>bonus defend</key> <integer>-20</integer>
		<!-- graphical data -->
		<key>appearance by morph</key>
		<dict>
			<key>human male</key>
			<dict>
				<key>torso armor</key>
				<dict>
					<key>sprite name</key> <string>heavyarmor_torso_m</string>
					<key>color name</key> <string>armor</string>
				</dict>
			</dict>
			<key>grappler</key>
			<dict>
				<key>torso armor</key>
				<dict>
					<key>sprite name</key> <string>heavyarmor_torso_m</string>
					<key>color name</key> <string>armor</string>
				</dict>
			</dict>
			<key>human female</key>
			<dict>
				<key>torso armor</key>
				<dict>
					<key>sprite name</key> <string>heavyarmor_torso_f</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>chest armor</key>
				<dict>
					<key>sprite name</key> <string>heavyarmor_chest_f</string>
					<key>color name</key> <string>armor</string>
					<key>disable undulation</key> <string></string>
				</dict>
			</dict>
		</dict>
	</dict>
	
	<key>helmet</key>
	<dict>
		<!-- identity -->
		<key>slot</key> <string>head</string>
		<!-- stats -->
		<key>bonus strain</key> <integer>1</integer>
		<key>bonus health</key> <integer>0</integer>
		<key>bonus defend</key> <integer>-5</integer>
		<!-- graphical data -->
		<key>appearance by morph</key>
		<dict>
			<key>human male</key>
			<dict>
				<key>head armor</key>
				<dict>
					<key>sprite name</key> <string>helmet</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>front hair</key>
				<dict>
					<key>invisible</key> <string></string>
				</dict>
			</dict>
			<key>grappler</key>
			<dict>
				<key>head armor</key>
				<dict>
					<key>sprite name</key> <string>helmet</string>
					<key>color name</key> <string>armor</string>
				</dict>
			</dict>
			<key>human female</key>
			<dict>
				<key>head armor</key>
				<dict>
					<key>sprite name</key> <string>helmet</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>front hair</key>
				<dict>
					<key>invisible</key> <string></string>
				</dict>
			</dict>
		</dict>
	</dict>
	
	<key>full helmet</key>
	<dict>
		<!-- identity -->
		<key>slot</key> <string>head</string>
		<!-- stats -->
		<key>bonus strain</key> <integer>2</integer>
		<key>bonus health</key> <integer>7</integer>
		<key>bonus defend</key> <integer>-10</integer>
		<!-- graphical data -->
		<key>appearance by morph</key>
		<dict>
			<key>human male</key>
			<dict>
				<key>head armor</key>
				<dict>
					<key>sprite name</key> <string>fullhelmet</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>front hair</key>
				<dict>
					<key>invisible</key> <string></string>
				</dict>
				<key>back hair</key>
				<dict>
					<key>invisible</key> <string></string>
				</dict>
				<key>head</key>
				<dict>
					<key>invisible</key> <string></string>
				</dict>
			</dict>
			<key>grappler</key>
			<dict>
				<key>head armor</key>
				<dict>
					<key>sprite name</key> <string>fullhelmet</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>eye</key>
				<dict>
					<key>invisible</key> <string></string>
				</dict>
			</dict>
			<key>human female</key>
			<dict>
				<key>head armor</key>
				<dict>
					<key>sprite name</key> <string>fullhelmet</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>front hair</key>
				<dict>
					<key>invisible</key> <string></string>
				</dict>
				<key>back hair</key>
				<dict>
					<key>invisible</key> <string></string>
				</dict>
				<key>head</key>
				<dict>
					<key>invisible</key> <string></string>
				</dict>
			</dict>
		</dict>
	</dict>
	
	<key>light robot leg</key>
	<dict>
		<!-- identity -->
		<key>slot</key> <string>leg</string>
		<!-- stats -->
		<key>bonus strain</key> <integer>0</integer>
		<key>bonus health</key> <integer>0</integer>
		<key>bonus defend</key> <integer>0</integer>
		<!-- graphical data -->
		<key>appearance by morph</key>
		<dict>
			<key>human male</key>
			<dict>
				<key>thigh</key>
				<dict>
					<key>sprite name</key> <string>lightrobo_leg_m</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>calf</key>
				<dict>
					<key>sprite name</key> <string>lightrobo_leg_m</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>foot</key>
				<dict>
					<key>sprite name</key> <string>lightrobo_foot</string>
					<key>color name</key> <string>armor</string>
				</dict>
			</dict>
			<key>human female</key>
			<dict>
				<key>thigh</key>
				<dict>
					<key>sprite name</key> <string>lightrobo_leg_f</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>calf</key>
				<dict>
					<key>sprite name</key> <string>lightrobo_leg_f</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>foot</key>
				<dict>
					<key>sprite name</key> <string>lightrobo_foot</string>
					<key>color name</key> <string>armor</string>
				</dict>
			</dict>
		</dict>
	</dict>
	
	<key>heavy robot leg</key>
	<dict>
		<!-- identity -->
		<key>slot</key> <string>leg</string>
		<!-- stats -->
		<key>bonus strain</key> <integer>2</integer>
		<key>bonus health</key> <integer>7</integer>
		<key>bonus defend</key> <integer>-10</integer>
		<!-- graphical data -->
		<key>appearance by morph</key>
		<dict>
			<key>human male</key>
			<dict>
				<key>thigh</key>
				<dict>
					<key>sprite name</key> <string>human_leg_m</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>calf</key>
				<dict>
					<key>sprite name</key> <string>human_leg_m</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>foot</key>
				<dict>
					<key>sprite name</key> <string>human_foot</string>
					<key>color name</key> <string>armor</string>
				</dict>
			</dict>
			<key>grappler</key>
			<dict>
				<key>thigh</key>
				<dict>
					<key>sprite name</key> <string>human_leg_m</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>calf</key>
				<dict>
					<key>sprite name</key> <string>human_leg_m</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>foot</key>
				<dict>
					<key>sprite name</key> <string>human_foot</string>
					<key>color name</key> <string>armor</string>
				</dict>
			</dict>
			<key>human female</key>
			<dict>
				<key>thigh</key>
				<dict>
					<key>sprite name</key> <string>human_leg_f</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>calf</key>
				<dict>
					<key>sprite name</key> <string>human_leg_f</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>foot</key>
				<dict>
					<key>sprite name</key> <string>human_foot</string>
					<key>color name</key> <string>armor</string>
				</dict>
			</dict>
		</dict>
	</dict>
	
	<key>natural leg</key>
	<dict>
		<!-- identity -->
		<key>slot</key> <string>leg</string>
		<!-- TODO: no un-equip -->
		<!-- stats -->
		<key>bonus strain</key> <integer>0</integer>
		<key>bonus health</key> <integer>0</integer>
		<key>bonus defend</key> <integer>0</integer>
		<!-- graphical data -->
		<key>appearance by morph</key>
		<dict>
			<key>human male</key>
			<dict>
				<key>thigh</key>
				<dict>
				</dict>
				<key>calf</key>
				<dict>
				</dict>
				<key>foot</key>
				<dict>
				</dict>
			</dict>
			<key>grappler</key>
			<dict>
				<key>thigh</key>
				<dict>
				</dict>
				<key>calf</key>
				<dict>
				</dict>
				<key>foot</key>
				<dict>
				</dict>
			</dict>
			<key>human female</key>
			<dict>
				<key>thigh</key>
				<dict>
				</dict>
				<key>calf</key>
				<dict>
				</dict>
				<key>foot</key>
				<dict>
				</dict>
			</dict>
		</dict>
	</dict>
	
	<key>light robot arm</key>
	<dict>
		<!-- identity -->
		<key>slot</key> <string>arm</string>
		<!-- stats -->
		<key>bonus strain</key> <integer>0</integer>
		<key>bonus health</key> <integer>0</integer>
		<key>bonus defend</key> <integer>0</integer>
		<!-- graphical data -->
		<key>appearance by morph</key>
		<dict>
			<key>human male</key>
			<dict>
				<key>arm</key>
				<dict>
					<key>sprite name</key> <string>lightrobo_arm_m</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>ulna</key>
				<dict>
					<key>sprite name</key> <string>lightrobo_arm_m</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>hand</key>
				<dict>
					<key>sprite name</key> <string>human_hand</string>
					<key>color name</key> <string>armor</string>
				</dict>
			</dict>
			<key>grappler</key>
			<dict>
				<key>arm</key>
				<dict>
					<key>sprite name</key> <string>lightrobo_arm_m</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>ulna</key>
				<dict>
					<key>sprite name</key> <string>lightrobo_arm_m</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>hand</key>
				<dict>
					<key>sprite name</key> <string>human_hand</string>
					<key>color name</key> <string>armor</string>
				</dict>
			</dict>
			<key>human female</key>
			<dict>
				<key>arm</key>
				<dict>
					<key>sprite name</key> <string>lightrobo_arm_f</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>ulna</key>
				<dict>
					<key>sprite name</key> <string>lightrobo_arm_f</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>hand</key>
				<dict>
					<key>sprite name</key> <string>human_hand</string>
					<key>color name</key> <string>armor</string>
				</dict>
			</dict>
		</dict>
	</dict>
	
	<key>heavy robot arm</key>
	<dict>
		<!-- identity -->
		<key>slot</key> <string>arm</string>
		<!-- stats -->
		<key>bonus strain</key> <integer>2</integer>
		<key>bonus health</key> <integer>7</integer>
		<key>bonus defend</key> <integer>-10</integer>
		<!-- graphical data -->
		<key>appearance by morph</key>
		<dict>
			<key>human male</key>
			<dict>
				<key>arm</key>
				<dict>
					<key>sprite name</key> <string>human_arm_m</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>ulna</key>
				<dict>
					<key>sprite name</key> <string>human_arm_m</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>hand</key>
				<dict>
					<key>sprite name</key> <string>human_hand</string>
					<key>color name</key> <string>armor</string>
				</dict>
			</dict>
			<key>grappler</key>
			<dict>
				<key>arm</key>
				<dict>
					<key>sprite name</key> <string>human_arm_m</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>ulna</key>
				<dict>
					<key>sprite name</key> <string>human_arm_m</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>hand</key>
				<dict>
					<key>sprite name</key> <string>human_hand</string>
					<key>color name</key> <string>armor</string>
				</dict>
			</dict>
			<key>human female</key>
			<dict>
				<key>arm</key>
				<dict>
					<key>sprite name</key> <string>human_arm_f</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>ulna</key>
				<dict>
					<key>sprite name</key> <string>human_arm_f</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>hand</key>
				<dict>
					<key>sprite name</key> <string>human_hand</string>
					<key>color name</key> <string>armor</string>
				</dict>
			</dict>
		</dict>
	</dict>
	
	<key>natural arm</key>
	<dict>
		<!-- identity -->
		<key>slot</key> <string>arm</string>
		<!-- TODO: no un-equip -->
		<!-- stats -->
		<key>bonus strain</key> <integer>0</integer>
		<key>bonus health</key> <integer>0</integer>
		<key>bonus defend</key> <integer>0</integer>
		<!-- graphical data -->
		<key>appearance by morph</key>
		<dict>
			<key>human male</key>
			<dict>
				<key>arm</key>
				<dict>
				</dict>
				<key>ulna</key>
				<dict>
				</dict>
				<key>hand</key>
				<dict>
				</dict>
			</dict>
			<key>grappler</key>
			<dict>
				<key>arm</key>
				<dict>
				</dict>
				<key>ulna</key>
				<dict>
				</dict>
				<key>hand</key>
				<dict>
				</dict>
			</dict>
			<key>human female</key>
			<dict>
				<key>arm</key>
				<dict>
				</dict>
				<key>ulna</key>
				<dict>
				</dict>
				<key>hand</key>
				<dict>
				</dict>
			</dict>
		</dict>
	</dict>
	
	
	<!-- unique armor -->
	
	<key>multitool arm</key>
	<dict>
		<!-- identity -->
		<key>slot</key> <string>arm</string>
		<key>breaks into</key> <string>multitool arm</string>
		<!-- TODO: no un-equip -->
		<!-- stats -->
		<key>bonus strain</key> <integer>0</integer>
		<key>bonus health</key> <integer>0</integer>
		<key>bonus defend</key> <integer>0</integer>
		<!-- graphical data -->
		<key>appearance by morph</key>
		<dict>
			<key>human male</key>
			<dict>
				<key>arm</key>
				<dict>
					<key>sprite name</key> <string>lightrobo_arm_m</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>ulna</key>
				<dict>
					<key>sprite name</key> <string>engineer_arm_m</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>hand</key>
				<dict>
					<key>sprite name</key> <string>engineer_hand</string>
					<key>color name</key> <string>armor</string>
				</dict>
			</dict>
			<key>human female</key>
			<dict>
				<key>arm</key>
				<dict>
					<key>sprite name</key> <string>lightrobo_arm_f</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>ulna</key>
				<dict>
					<key>sprite name</key> <string>engineer_arm_f</string>
					<key>color name</key> <string>armor</string>
				</dict>
				<key>hand</key>
				<dict>
					<key>sprite name</key> <string>engineer_hand</string>
					<key>color name</key> <string>armor</string>
				</dict>
			</dict>
		</dict>
	</dict>
	
	<!-- robot built-in armor -->
	
	<key>robot torso</key>
	<dict>
		<!-- identity -->
		<key>slot</key> <string>torso</string>
		<key>breaks into</key> <string>robot torso</string>
		<!-- TODO: no un-equip -->
		<!-- stats -->
		<key>bonus strain</key> <integer>4</integer>
		<key>bonus health</key> <integer>10</integer>
		<key>bonus defend</key> <integer>-20</integer>
		<!-- graphical data -->
		<key>appearance by morph</key>
		<dict>
		</dict>
	</dict>
	
	<key>robot arm</key>
	<dict>
		<!-- identity -->
		<key>slot</key> <string>arm</string>
		<key>breaks into</key> <string>robot arm</string>
		<!-- TODO: no un-equip -->
		<!-- stats -->
		<key>bonus strain</key> <integer>2</integer>
		<key>bonus health</key> <integer>7</integer>
		<key>bonus defend</key> <integer>-10</integer>
		<!-- graphical data -->
		<key>appearance by morph</key>
		<dict>
		</dict>
	</dict>
	
	<key>robot treads</key>
	<dict>
		<!-- identity -->
		<key>slot</key> <string>leg</string>
		<key>breaks into</key> <string>robot treads</string>
		<!-- TODO: no un-equip -->
		<!-- stats -->
		<key>bonus strain</key> <integer>4</integer>
		<key>bonus health</key> <integer>10</integer>
		<key>bonus defend</key> <integer>-20</integer>
		<!-- graphical data -->
		<key>appearance by morph</key>
		<dict>
		</dict>
	</dict>
	
	<key>robot head</key>
	<dict>
		<!-- identity -->
		<key>slot</key> <string>head</string>
		<key>breaks into</key> <string>robot head</string>
		<!-- TODO: no un-equip -->
		<!-- stats -->
		<key>bonus strain</key> <integer>2</integer>
		<key>bonus health</key> <integer>7</integer>
		<key>bonus defend</key> <integer>-10</integer>
		<!-- graphical data -->
		<key>appearance by morph</key>
		<dict>
		</dict>
	</dict>
</dict>
</plist>