<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   BodyMorphs.plist
   BPartS

   Created by Theodore Abshire on 8/2/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
    <key>human male</key>
	<dict>
		<key>undulations</key>
		<dict>
			<key>leg undulation</key>
			<dict>
				<key>wavelength</key> <integer>250</integer>
				<key>phase</key> <integer>50</integer>
				<key>magnitude</key> <integer>50</integer>
			</dict>
			<key>arm undulation</key>
			<dict>
				<key>wavelength</key> <integer>250</integer>
				<key>phase</key> <integer>0</integer>
				<key>magnitude</key> <integer>50</integer>
			</dict>
			<key>head undulation</key>
			<dict>
				<key>wavelength</key> <integer>300</integer>
				<key>phase</key> <integer>0</integer>
				<key>magnitude</key> <integer>75</integer>
			</dict>
		</dict>
		<key>limbs</key>
		<array>
			<!-- left leg -->
			<dict>
				<key>name</key> <string>left thigh</string>
				<key>parent</key> <string>torso</string>
				<key>sprite name</key> <string>human_leg_m</string>
				<key>limb tag</key> <string>left leg</string>
				<key>center x</key> <integer>4</integer>
				<key>center y</key> <integer>1</integer>
				<key>connect x</key> <integer>3</integer>
				<key>connect y</key> <integer>25</integer>
				<key>undulation</key> <string>leg undulation</string>
			</dict>
			<dict>
				<key>name</key> <string>left calf</string>
				<key>parent</key> <string>left thigh</string>
				<key>sprite name</key> <string>human_leg_m</string>
				<key>limb tag</key> <string>left leg</string>
				<key>center x</key> <integer>4</integer>
				<key>center y</key> <integer>1</integer>
				<key>connect x</key> <integer>4</integer>
				<key>connect y</key> <integer>16</integer>
				<key>undulation</key> <string>leg undulation</string>
			</dict>
			<dict>
				<key>name</key> <string>left foot</string>
				<key>parent</key> <string>left calf</string>
				<key>sprite name</key> <string>human_foot</string>
				<key>center x</key> <integer>3</integer>
				<key>center y</key> <integer>1</integer>
				<key>connect x</key> <integer>4</integer>
				<key>connect y</key> <integer>16</integer>
				<key>undulation</key> <string>leg undulation</string>
			</dict>
			
			<!-- right leg -->
			<dict>
				<key>name</key> <string>right thigh</string>
				<key>parent</key> <string>torso</string>
				<key>sprite name</key> <string>human_leg_m</string>
				<key>limb tag</key> <string>right leg</string>
				<key>center x</key> <integer>4</integer>
				<key>center y</key> <integer>1</integer>
				<key>connect x</key> <integer>14</integer>
				<key>connect y</key> <integer>25</integer>
				<key>undulation</key> <string>leg undulation</string>
			</dict>
			<dict>
				<key>name</key> <string>right calf</string>
				<key>parent</key> <string>right thigh</string>
				<key>sprite name</key> <string>human_leg_m</string>
				<key>limb tag</key> <string>right leg</string>
				<key>center x</key> <integer>4</integer>
				<key>center y</key> <integer>1</integer>
				<key>connect x</key> <integer>4</integer>
				<key>connect y</key> <integer>16</integer>
				<key>undulation</key> <string>leg undulation</string>
			</dict>
			<dict>
				<key>name</key> <string>right foot</string>
				<key>parent</key> <string>right calf</string>
				<key>sprite name</key> <string>human_foot</string>
				<key>center x</key> <integer>3</integer>
				<key>center y</key> <integer>1</integer>
				<key>connect x</key> <integer>4</integer>
				<key>connect y</key> <integer>16</integer>
				<key>undulation</key> <string>leg undulation</string>
			</dict>
			
			<!-- right arm -->
			<dict>
				<key>name</key> <string>right arm</string>
				<key>parent</key> <string>torso</string>
				<key>sprite name</key> <string>human_arm_m</string>
				<key>limb tag</key> <string>right arm</string>
				<key>center x</key> <integer>3</integer>
				<key>center y</key> <integer>1</integer>
				<key>connect x</key> <integer>16</integer>
				<key>connect y</key> <integer>4</integer>
				<key>undulation</key> <string>arm undulation</string>
			</dict>
			<dict>
				<key>name</key> <string>right forearm</string>
				<key>parent</key> <string>right arm</string>
				<key>sprite name</key> <string>human_arm_m</string>
				<key>limb tag</key> <string>right arm</string>
				<key>center x</key> <integer>3</integer>
				<key>center y</key> <integer>1</integer>
				<key>connect x</key> <integer>3</integer>
				<key>connect y</key> <integer>15</integer>
				<key>undulation</key> <string>arm undulation</string>
			</dict>
			<dict>
				<key>name</key> <string>right hand</string>
				<key>parent</key> <string>right forearm</string>
				<key>sprite name</key> <string>human_hand</string>
				<key>center x</key> <integer>3</integer>
				<key>center y</key> <integer>1</integer>
				<key>connect x</key> <integer>3</integer>
				<key>connect y</key> <integer>15</integer>
			</dict>
			
			<!-- torso -->
			<dict>
				<key>name</key> <string>torso</string>
				<key>sprite name</key> <string>human_torso_m</string>
				<key>limb tag</key> <string>torso</string>
				<key>center x</key> <integer>9</integer>
				<key>center y</key> <integer>26</integer>
				<key>connect x</key> <integer>0</integer>
				<key>connect y</key> <integer>0</integer>
			</dict>
			
			<!-- head -->
			<dict>
				<key>name</key> <string>head</string>
				<key>parent</key> <string>torso</string>
				<key>sprite name</key> <string>human_head</string>
				<key>limb tag</key> <string>head</string>
				<key>center x</key> <integer>8</integer>
				<key>center y</key> <integer>17</integer>
				<key>connect x</key> <integer>9</integer>
				<key>connect y</key> <integer>1</integer>
				<key>undulation</key> <string>head undulation</string>
			</dict>
			<dict>
				<key>name</key> <string>eye</string>
				<key>parent</key> <string>head</string>
				<key>sprite name</key> <string>human_eye</string>
				<key>center x</key> <integer>0</integer>
				<key>center y</key> <integer>0</integer>
				<key>connect x</key> <integer>6</integer>
				<key>connect y</key> <integer>7</integer>
			</dict>
			
			<!-- left arm -->
			<dict>
				<key>name</key> <string>left arm</string>
				<key>parent</key> <string>torso</string>
				<key>sprite name</key> <string>human_arm_m</string>
				<key>limb tag</key> <string>left arm</string>
				<key>center x</key> <integer>3</integer>
				<key>center y</key> <integer>1</integer>
				<key>connect x</key> <integer>2</integer>
				<key>connect y</key> <integer>4</integer>
				<key>undulation</key> <string>arm undulation</string>
			</dict>
			<dict>
				<key>name</key> <string>left forearm</string>
				<key>parent</key> <string>left arm</string>
				<key>sprite name</key> <string>human_arm_m</string>
				<key>limb tag</key> <string>left arm</string>
				<key>center x</key> <integer>3</integer>
				<key>center y</key> <integer>1</integer>
				<key>connect x</key> <integer>3</integer>
				<key>connect y</key> <integer>15</integer>
				<key>undulation</key> <string>arm undulation</string>
			</dict>
			<dict>
				<key>name</key> <string>left hand</string>
				<key>parent</key> <string>left forearm</string>
				<key>sprite name</key> <string>human_hand</string>
				<key>center x</key> <integer>3</integer>
				<key>center y</key> <integer>1</integer>
				<key>connect x</key> <integer>3</integer>
				<key>connect y</key> <integer>15</integer>
			</dict>
		</array>
	</dict>
	
    <key>human female</key>
	<dict>
		<key>undulations</key>
		<dict>
			<key>chest undulation</key>
			<dict>
				<key>wavelength</key> <integer>250</integer>
				<key>phase</key> <integer>0</integer>
				<key>magnitude</key> <integer>120</integer>
			</dict>
			<key>leg undulation</key>
			<dict>
				<key>wavelength</key> <integer>250</integer>
				<key>phase</key> <integer>50</integer>
				<key>magnitude</key> <integer>50</integer>
			</dict>
			<key>arm undulation</key>
			<dict>
				<key>wavelength</key> <integer>250</integer>
				<key>phase</key> <integer>0</integer>
				<key>magnitude</key> <integer>50</integer>
			</dict>
			<key>head undulation</key>
			<dict>
				<key>wavelength</key> <integer>300</integer>
				<key>phase</key> <integer>0</integer>
				<key>magnitude</key> <integer>75</integer>
			</dict>
		</dict>
		<key>limbs</key>
		<array>
			<!-- left leg -->
			<dict>
				<key>name</key> <string>left thigh</string>
				<key>parent</key> <string>torso</string>
				<key>sprite name</key> <string>human_leg_f</string>
				<key>limb tag</key> <string>left leg</string>
				<key>center x</key> <integer>3</integer>
				<key>center y</key> <integer>1</integer>
				<key>connect x</key> <integer>3</integer>
				<key>connect y</key> <integer>22</integer>
				<key>undulation</key> <string>leg undulation</string>
			</dict>
			<dict>
				<key>name</key> <string>left calf</string>
				<key>parent</key> <string>left thigh</string>
				<key>sprite name</key> <string>human_leg_f</string>
				<key>limb tag</key> <string>left leg</string>
				<key>center x</key> <integer>3</integer>
				<key>center y</key> <integer>1</integer>
				<key>connect x</key> <integer>3</integer>
				<key>connect y</key> <integer>14</integer>
				<key>undulation</key> <string>leg undulation</string>
			</dict>
			<dict>
				<key>name</key> <string>left foot</string>
				<key>parent</key> <string>left calf</string>
				<key>sprite name</key> <string>human_foot</string>
				<key>center x</key> <integer>3</integer>
				<key>center y</key> <integer>1</integer>
				<key>connect x</key> <integer>3</integer>
				<key>connect y</key> <integer>15</integer>
				<key>undulation</key> <string>leg undulation</string>
			</dict>
			
			<!-- right leg -->
			<dict>
				<key>name</key> <string>right thigh</string>
				<key>parent</key> <string>torso</string>
				<key>sprite name</key> <string>human_leg_f</string>
				<key>limb tag</key> <string>right leg</string>
				<key>center x</key> <integer>3</integer>
				<key>center y</key> <integer>1</integer>
				<key>connect x</key> <integer>13</integer>
				<key>connect y</key> <integer>22</integer>
				<key>undulation</key> <string>leg undulation</string>
			</dict>
			<dict>
				<key>name</key> <string>right calf</string>
				<key>parent</key> <string>right thigh</string>
				<key>sprite name</key> <string>human_leg_f</string>
				<key>limb tag</key> <string>right leg</string>
				<key>center x</key> <integer>3</integer>
				<key>center y</key> <integer>1</integer>
				<key>connect x</key> <integer>3</integer>
				<key>connect y</key> <integer>14</integer>
				<key>undulation</key> <string>leg undulation</string>
			</dict>
			<dict>
				<key>name</key> <string>right foot</string>
				<key>parent</key> <string>right calf</string>
				<key>sprite name</key> <string>human_foot</string>
				<key>center x</key> <integer>3</integer>
				<key>center y</key> <integer>1</integer>
				<key>connect x</key> <integer>3</integer>
				<key>connect y</key> <integer>15</integer>
				<key>undulation</key> <string>leg undulation</string>
			</dict>
			
			<!-- right arm -->
			<dict>
				<key>name</key> <string>right arm</string>
				<key>parent</key> <string>torso</string>
				<key>sprite name</key> <string>human_arm_f</string>
				<key>limb tag</key> <string>right arm</string>
				<key>center x</key> <integer>2</integer>
				<key>center y</key> <integer>1</integer>
				<key>connect x</key> <integer>14</integer>
				<key>connect y</key> <integer>4</integer>
				<key>undulation</key> <string>arm undulation</string>
			</dict>
			<dict>
				<key>name</key> <string>right forearm</string>
				<key>parent</key> <string>right arm</string>
				<key>sprite name</key> <string>human_arm_f</string>
				<key>limb tag</key> <string>right arm</string>
				<key>center x</key> <integer>2</integer>
				<key>center y</key> <integer>1</integer>
				<key>connect x</key> <integer>2</integer>
				<key>connect y</key> <integer>14</integer>
				<key>undulation</key> <string>arm undulation</string>
			</dict>
			<dict>
				<key>name</key> <string>right hand</string>
				<key>parent</key> <string>right forearm</string>
				<key>sprite name</key> <string>human_hand</string>
				<key>center x</key> <integer>3</integer>
				<key>center y</key> <integer>1</integer>
				<key>connect x</key> <integer>2</integer>
				<key>connect y</key> <integer>14</integer>
			</dict>
			
			<!-- torso -->
			<dict>
				<key>name</key> <string>torso</string>
				<key>sprite name</key> <string>human_torso_f</string>
				<key>limb tag</key> <string>torso</string>
				<key>center x</key> <integer>8</integer>
				<key>center y</key> <integer>24</integer>
				<key>connect x</key> <integer>0</integer>
				<key>connect y</key> <integer>0</integer>
			</dict>
			<dict>
				<key>name</key> <string>chest</string>
				<key>parent</key> <string>torso</string>
				<key>sprite name</key> <string>human_chest_f</string>
				<key>center x</key> <integer>0</integer>
				<key>center y</key> <integer>0</integer>
				<key>connect x</key> <integer>3</integer>
				<key>connect y</key> <integer>2</integer>
				<key>undulation</key> <string>chest undulation</string>
			</dict>
			
			<!-- head -->
			<dict>
				<key>name</key> <string>head</string>
				<key>parent</key> <string>torso</string>
				<key>sprite name</key> <string>human_head</string>
				<key>limb tag</key> <string>head</string>
				<key>center x</key> <integer>8</integer>
				<key>center y</key> <integer>17</integer>
				<key>connect x</key> <integer>9</integer>
				<key>connect y</key> <integer>1</integer>
				<key>undulation</key> <string>head undulation</string>
			</dict>
			<dict>
				<key>name</key> <string>eye</string>
				<key>parent</key> <string>head</string>
				<key>sprite name</key> <string>human_eye</string>
				<key>center x</key> <integer>0</integer>
				<key>center y</key> <integer>0</integer>
				<key>connect x</key> <integer>6</integer>
				<key>connect y</key> <integer>7</integer>
			</dict>
			
			<!-- left arm -->
			<dict>
				<key>name</key> <string>left arm</string>
				<key>parent</key> <string>torso</string>
				<key>sprite name</key> <string>human_arm_f</string>
				<key>limb tag</key> <string>left arm</string>
				<key>center x</key> <integer>2</integer>
				<key>center y</key> <integer>1</integer>
				<key>connect x</key> <integer>2</integer>
				<key>connect y</key> <integer>4</integer>
				<key>undulation</key> <string>arm undulation</string>
			</dict>
			<dict>
				<key>name</key> <string>left forearm</string>
				<key>parent</key> <string>left arm</string>
				<key>sprite name</key> <string>human_arm_f</string>
				<key>limb tag</key> <string>left arm</string>
				<key>center x</key> <integer>2</integer>
				<key>center y</key> <integer>1</integer>
				<key>connect x</key> <integer>2</integer>
				<key>connect y</key> <integer>14</integer>
				<key>undulation</key> <string>arm undulation</string>
			</dict>
			<dict>
				<key>name</key> <string>left hand</string>
				<key>parent</key> <string>left forearm</string>
				<key>sprite name</key> <string>human_hand</string>
				<key>center x</key> <integer>3</integer>
				<key>center y</key> <integer>1</integer>
				<key>connect x</key> <integer>2</integer>
				<key>connect y</key> <integer>14</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>