<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Races.plist
   BPartS

   Created by Theodore Abshire on 8/3/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
    <key>human</key>
	<dict>
		<!-- limb data -->
		<key>limbs</key>
		<dict>
			<key>left arm</key>
			<dict>
				<key>type</key> <string>arm</string>
				<key>max strain</key> <integer>2</integer>
				<key>prefix</key> <string>left</string>
			</dict>
			<key>right arm</key>
			<dict>
				<key>type</key> <string>arm</string>
				<key>max strain</key> <integer>2</integer>
				<key>prefix</key> <string>right</string>
			</dict>
			<key>left leg</key>
			<dict>
				<key>type</key> <string>leg</string>
				<key>max strain</key> <integer>2</integer>
				<key>prefix</key> <string>left</string>
			</dict>
			<key>right leg</key>
			<dict>
				<key>type</key> <string>leg</string>
				<key>max strain</key> <integer>2</integer>
				<key>prefix</key> <string>right</string>
			</dict>
			<key>head</key>
			<dict>
				<key>type</key> <string>head</string>
				<key>max strain</key> <integer>2</integer>
			</dict>
			<key>torso</key>
			<dict>
				<key>type</key> <string>torso</string>
				<key>max strain</key> <integer>4</integer>
			</dict>
		</dict>
		<!-- graphical data -->
		<key>states</key> <string>human</string>
		<key>morphs</key>
		<array>
			<string>human male</string>
			<string>human female</string>
		</array>
		<key>personalities</key>
		<array>
			<integer>3</integer>
			<integer>2</integer>
			<integer>1</integer>
		</array>
		<key>colorations</key>
		<array>
			<dict>
				<key>skin</key> <string>skin light</string>
				<key>hair</key> <string>human hair blonde</string>
				<key>eye</key> <string>white</string>
				<key>armor</key> <string>blue material</string>
				<key>clothing</key> <string>dark material</string>
				<key>weapon</key> <string>lead</string>
			</dict>
			<dict>
				<key>skin</key> <string>skin pale</string>
				<key>hair</key> <string>human hair red</string>
				<key>eye</key> <string>white</string>
				<key>armor</key> <string>red material</string>
				<key>clothing</key> <string>dark material</string>
				<key>weapon</key> <string>iron</string>
			</dict>
			<dict>
				<key>skin</key> <string>skin swarthy</string>
				<key>hair</key> <string>human hair brown</string>
				<key>eye</key> <string>white</string>
				<key>armor</key> <string>green material</string>
				<key>clothing</key> <string>medium material</string>
				<key>weapon</key> <string>steel</string>
			</dict>
			<dict>
				<key>skin</key> <string>skin dark</string>
				<key>hair</key> <string>human hair black</string>
				<key>eye</key> <string>white</string>
				<key>armor</key> <string>yellow material</string>
				<key>clothing</key> <string>light material</string>
				<key>weapon</key> <string>silver</string>
			</dict>
		</array>
	</dict>
	
    <key>grappler</key>
	<dict>
		<!-- limb data -->
		<key>limbs</key>
		<dict>
			<key>upper left arm</key>
			<dict>
				<key>type</key> <string>arm</string>
				<key>max strain</key> <integer>1</integer>
				<key>prefix</key> <string>upper left</string>
			</dict>
			<key>lower left arm</key>
			<dict>
				<key>type</key> <string>arm</string>
				<key>max strain</key> <integer>1</integer>
				<key>prefix</key> <string>lower left</string>
			</dict>
			<key>upper right arm</key>
			<dict>
				<key>type</key> <string>arm</string>
				<key>max strain</key> <integer>1</integer>
				<key>prefix</key> <string>upper right</string>
			</dict>
			<key>lower right arm</key>
			<dict>
				<key>type</key> <string>arm</string>
				<key>max strain</key> <integer>1</integer>
				<key>prefix</key> <string>lower right</string>
			</dict>
			<key>left leg</key>
			<dict>
				<key>type</key> <string>leg</string>
				<key>max strain</key> <integer>2</integer>
				<key>prefix</key> <string>left</string>
			</dict>
			<key>right leg</key>
			<dict>
				<key>type</key> <string>leg</string>
				<key>max strain</key> <integer>2</integer>
				<key>prefix</key> <string>right</string>
			</dict>
			<key>head</key>
			<dict>
				<key>type</key> <string>head</string>
				<key>max strain</key> <integer>2</integer>
			</dict>
			<key>torso</key>
			<dict>
				<key>type</key> <string>torso</string>
				<key>max strain</key> <integer>4</integer>
			</dict>
		</dict>
		<!-- graphical data -->
		<key>states</key> <string>grappler</string>
		<key>morphs</key>
		<array>
			<string>grappler</string>
		</array>
		<key>personalities</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<key>colorations</key>
		<array>
			<dict>
				<key>skin</key> <string>skin light</string>
				<key>eye</key> <string>white</string>
				<key>armor</key> <string>blue material</string>
				<key>clothing</key> <string>dark material</string>
				<key>weapon</key> <string>lead</string>
			</dict>
			<dict>
				<key>skin</key> <string>skin swarthy</string>
				<key>eye</key> <string>white</string>
				<key>armor</key> <string>green material</string>
				<key>clothing</key> <string>medium material</string>
				<key>weapon</key> <string>steel</string>
			</dict>
			<dict>
				<key>skin</key> <string>skin dark</string>
				<key>eye</key> <string>white</string>
				<key>armor</key> <string>yellow material</string>
				<key>clothing</key> <string>light material</string>
				<key>weapon</key> <string>silver</string>
			</dict>
		</array>
	</dict>
	
    <key>robot</key>
	<dict>
		<!-- limb data -->
		<key>limbs</key>
		<dict>
			<key>tread leg</key>
			<dict>
				<key>type</key> <string>leg</string>
				<key>max strain</key> <integer>4</integer>
				<key>prefix</key> <string>tread</string>
			</dict>
			<key>left arm</key>
			<dict>
				<key>type</key> <string>arm</string>
				<key>max strain</key> <integer>2</integer>
				<key>prefix</key> <string>left</string>
			</dict>
			<key>right arm</key>
			<dict>
				<key>type</key> <string>arm</string>
				<key>max strain</key> <integer>2</integer>
				<key>prefix</key> <string>right</string>
			</dict>
			<key>head</key>
			<dict>
				<key>type</key> <string>head</string>
				<key>max strain</key> <integer>2</integer>
			</dict>
			<key>torso</key>
			<dict>
				<key>type</key> <string>torso</string>
				<key>max strain</key> <integer>4</integer>
			</dict>
		</dict>
		<!-- graphical data -->
		<key>states</key> <string>robot</string>
		<key>morphs</key>
		<array>
			<string>robot</string>
		</array>
		<key>personalities</key>
		<array>
			<integer>1</integer>
		</array>
		<key>colorations</key>
		<array>
			<dict>
				<key>skin</key> <string>blue material</string>
				<key>eye</key> <string>yellow</string>
				<key>armor</key> <string>blue material</string>
				<key>weapon</key> <string>lead</string>
			</dict>
			<dict>
				<key>skin</key> <string>red material</string>
				<key>eye</key> <string>green</string>
				<key>armor</key> <string>red material</string>
				<key>weapon</key> <string>iron</string>
			</dict>
			<dict>
				<key>skin</key> <string>yellow material</string>
				<key>eye</key> <string>blue</string>
				<key>armor</key> <string>yellow material</string>
				<key>weapon</key> <string>silver</string>
			</dict>
			<dict>
				<key>skin</key> <string>green material</string>
				<key>eye</key> <string>red</string>
				<key>armor</key> <string>green material</string>
				<key>weapon</key> <string>steel</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>